<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Second app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/index.css'%}">
       
    </head>
    <body>
        
        
        <script src="" async defer></script>
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a wish app. </h1>
    <h2>Date: {{insert_date}}</h2>
    <h2>Message= {{insert_msg}}</h2>
    <img src="{%static 'images/my_pic.jpg'%}">
</body>
</html>

 
